<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
	<display-name>PinoyListHub</display-name>
	<description>Your Phlippine Real Estate Connection</description>
	<servlet>
		<servlet-name>Listing</servlet-name>
		<servlet-class>PropertyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Listing</servlet-name>
		<url-pattern>/listings</url-pattern>
	</servlet-mapping>
</web-app>
